.helloH2 {
  color: #fff;
  font-family: Poppins;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0px;
}
.topButtonDiv {
  display: none;
}
.letsConnect {
  font-size: 24px;
  font-weight: 700;
  color: #bc93cf;
}
.sectionText {
  width: 611px;
  height: 453px;
  flex-shrink: 0;
}
.nameH2 {
  color: #fcf8f8;
  font-family: Poppins;
  font-size: 70px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin: 0px;
  text-align: center;
}
.uiuxPTag {
  color: #bc93cf;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0px;
  text-align: center;
}

.descriptionHome {
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
}
.hireMeButton {
  border-radius: 20px;
  border: 3px solid #fffdfd;
  background: #bc93cf;
  box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.25);
  display: inline-flex;
  padding: 10px 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.profileDiv {
  width: 1016px;
  height: 525px;
  flex-shrink: 0;
  border-radius: 1016px 1016px 0px 0px;
  background: #fff;
  /* background-color: blue; */
  top: 50%;
  /* transform: translate(-50%, -50%); */
  /* margin-left: 200px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.profilePic {
  width: 700px;
  height: 790px;
  /* flex-shrink: 0; */
  background: url("../assets/profileHd.png") no-repeat;
  object-fit: cover;
  /* box-shadow: -8.442130088806152px -8.442130088806152px 25.32638931274414px 0px rgba(0, 0, 0, 0.1); */
  top: -50%;
  position: relative;
}
.mainHomeDiv {
  display: flex;
  flex-direction: row;
  padding-top: 20vh;
  padding-left: 5vw;
}
.hireMeButtonTop {
  border-radius: 20px;
  border: 3px solid #fffdfd;
  background: #bc93cf;
  box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.25);
  display: inline-flex;
  padding: 10px 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  width: 40%;
  /* margin-top: -40px; */
}
.topButtonDiv {
  display: none;
  flex-direction: row;
  justify-content: center;
  /* background-color: red; */
  /* height: 15vh; */
  margin-top: 15px;
  width: 100%;
}
@media screen and (max-width: 700px) and (min-width: 400px) {
  .mainHomeDiv {
    display: flex;
    flex-direction: column;
    /* flex-direction: column-reverse; */
    padding-left: 0vw;
  }
  .profilePic {
    top: -50%;
    margin-left: -420px;
    /* left: 0; */
  }
  .profileDiv {
    width: 916px;
    height: 495px;
  }
  .sectionText {
    /* width: 611px;
    height: 453px;
    flex-shrink: 0; */
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }
  .sectionText p {
    text-align: center;
  }
  .descriptionHome {
    height: 40px;
    padding: 5px 12px;
    text-align: left !important;
  }
  .hireMeButton {
    display: none;
  }
  .topButtonDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background-color: red; */
    /* height: 15vh; */
    margin-top: 15px;
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .sectionText {
    width: 100%;
    /* height: 453px; */
    flex-shrink: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: -10vh;
    margin-bottom: 10vh;
  }

  .topButtonDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background-color: red; */
    /* height: 15vh; */
    margin-top: 15px;
    width: 100%;
  }
  .hireMeButton {
    display: none;
  }

  .hireMeButtonTop {
    border-radius: 20px;
    border: 3px solid #fffdfd;
    background: #bc93cf;
    box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.25);
    display: inline-flex;
    padding: 10px 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #fff;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 40%;
    /* margin-top: -40px; */
  }
  .helloH2 {
    color: #fff;
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0px;
  }
  .nameH2 {
    color: #fcf8f8;
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 0px;
  }
  .descriptionHome {
    height: 40px;
    padding: 5px 12px;
    text-align: left;
    font-size: 16px;
  }
  .letsConnect {
    font-size: 24px;
    font-weight: 700;
    color: #bc93cf;
    /* background-color: red; */
    /* width: fit-content; */
    text-align: center;
    margin-top: -4px;
  }
}

@media screen and (max-width: 500px) and (min-width: 400px) {
  .sectionText {
    width: 100%;
    /* height: 453px; */
    flex-shrink: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: -10vh;
    margin-bottom: 10vh;
  }
  .profilePic {
    width: 600px;
    margin-left: -490px;
  }
  .topButtonDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background-color: red; */
    /* height: 15vh; */
    margin-top: 15px;
    width: 100%;
  }
  .hireMeButton {
    display: none;
  }

  .hireMeButtonTop {
    border-radius: 20px;
    border: 3px solid #fffdfd;
    background: #bc93cf;
    box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.25);
    display: inline-flex;
    padding: 10px 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #fff;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 40%;
    /* margin-top: -40px; */
  }
  .helloH2 {
    color: #fff;
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0px;
  }
  .nameH2 {
    color: #fcf8f8;
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 0px;
  }
  .descriptionHome {
    height: 40px;
    padding: 5px 12px;
    text-align: left;
    font-size: 16px;
  }
  .letsConnect {
    font-size: 24px;
    font-weight: 700;
    color: #bc93cf;
    /* background-color: red; */
    /* width: fit-content; */
    text-align: center;
    margin-top: -4px;
  }
}
